body
{
	background: #FFE5D2;
	display: none;
	font-family: Palatino;
	font-size: 1.05em;
	text-shadow: .5px .5px 1px #d6c1b1;
	color: #606060;
}

h1
{
	color: #606060;
	margin: .0em;
	padding-bottom: .0em;
	padding-left: .2em;
	text-align: left;
}

#sidebar
{
	display: inline-block;
	text-align: right;
	list-style-type: none;
	float: left;
}

#contentbar
{
	display: inline-block;
	float: left;
	border-left-style: solid;
	border-left-color: #606060;
	border-width: .01em;
}

h2
{
	color: #606060;
	padding-left: .4em;
	padding-right: 1.8em;
	margin-bottom: .1em;
	width: auto;
	display: inline-block;
	border-bottom: 1px solid #606060;
	margin-bottom: .5em;
	padding-bottom: .1em;
}

ul#nav_button_list
{
	list-style-type: none;
}

ul#projects_list
{
	list-style-type: none;
}

ul
{
	list-style-type: square;
}

a.nav
{
	display: inline-table;
	color: #606060;
	
	padding: 2px 6px 2px 6px;
	margin: 2px 4px 2px 4px;
	min-width: 4em;
	font-size: .8em;
	text-align: right;
}

a.nav:link
{
	text-decoration:none;
}

a.nav:visited
{
	text-decoration:none;
}
a.nav:hover
{
	text-decoration:none;
	box-shadow: inset 0px 0px 3px #b0b0b0;
}
a.nav:active
{
	text-decoration:none;
}

button:hover
{
	cursor:pointer;
	border-color: #ff7b00 #00d4ff #00d4ff #ff7b00;
}

canvas
{
	display: block;
	margin: 7px auto 10px auto;
}

#vertical_centerer
{
	float: center;
	height: 50%;
	margin-bottom: -100px;
}

#horizontal_centerer
{	
	text-align: center;
	float: center;
}

#title
{
	display:block;
	border: none;
	color: #606060;
	font-size: 3pc;
	margin: auto auto auto auto;
	font-weight: bold;
	text-decoration: none;
	padding-left: .1em;
	text-align: left;
}

#side_title
{
	font-weight: bold;
}

#title:hover
{
	text-shadow: 0px 0px 2px #aaaaaa;
}

div.button_container
{
	font-size: 14px;
	text-align: center;
	padding: auto auto auto auto;
}

div.content_container
{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: center;
}

div.content
{
	text-align: left;
	padding: 10px 10px 10px 0px;
	border-top: 1px solid #606060;
	margin-top: .5em;
	padding-top: .4em;
}

.content-para
{
	margin-top: .25em;
	padding-left: .5em;
}